:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  max-width: 70rem;
  padding: 0 1rem;
  margin: 2rem auto;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
}
@media (max-width: 769px) {
  html {
    font-size: 87.4%;
  }
  .wrapper{
    grid-template-columns: 1fr;
  }
}